{% extends 'bookclub_base.html' %}
{% load static %}

{% block title %}
    {% if object %}
        Edit Book
    {% else %}
        Add Book
    {% endif %}
{% endblock %}

{% block header %}
    {% if object %}
        Edit Book
    {% else %}
        Add Book
    {% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if object %}
        Edit Book
    {% else %}
        Add Book
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if object %}Save Changes{% else %}Add Book{% endif %}</button>
</form>
{% endblock %}